body{
    margin: 0;
    color: white;
    height: 100%;
}
.main{
    height: 100vh;
    
}

.section1{
    background-color: #23252f;
    width: 60%;
    padding: 40px;
}
.section2{
    padding: 40px;
    background-color: #2b2d38;
    width: 40%;
 }  